.row{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}


.align-items-center {
    align-items: center!important;
}

.justify-content-center {
    justify-content: center!important;
}
.flex-row {
    flex-direction: row!important;
}
.d-flex {
    display: flex!important;
}

@media (min-width: 992px){.pt-lg-0, .py-lg-0 {
    padding-top: 0!important;
}
}
.pt-4, .py-4 {
    padding-top: 1.5rem!important;
}
@media (min-width: 992px){
.col-lg-6 {
    flex: 0 0 50%;
    max-width: 50%;
}
}


h4{

    font-size: 30px;
    color: #af2f64;
    text-align: left;
    display: block;
    margin-bottom: 60px;

}

.ShortDescBoxMedium p::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background: #fab555;
    border-radius: 2px;
    left: 0;
    top: 8px;
}