.details{
display: flex;
}
.details-photo{
position: relative;
left:10%


}




.details-photo-coach{
height:600px;
width:400px;
position: relative;
left:10%;
margin-top: 5%;
}

.details-title{

position: relative;
top: 10%;
left:20%;
font-weight: 600;
    font-size: 30px;
    color: #af2f64;
    margin-bottom: 25px;


}

.details-paragraphe{

    display: flex;
    flex-direction: column;
    
}

.details-text{
width: 70%;
height: 50%;
position: relative;
top:10%;

left:20%;

color: #3e3333;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 20px;

}


.details-liste-1{
position: relative;
left: 25%;
margin-top: 10%;

width:50%;
display: flex;

align-items: center;
justify-content: space-between;

}

.details-item{
width:100%;
height:100%;
margin-right: 20%;
font-weight: 300;
    font-size: 16px;
    color: #3e3333;
    padding-left: 20px;
}



.details-liste-2{
    position: relative;
left: 25%;

width:50%;
display: flex;

align-items: center;
}
.details-buttons{
    position:absolute;
    right: 10%;
    margin-top: 20px;

}


.details-buttons-1{
   
    width:150px;
    height: 50px;
    border-radius: 10px;
    color: #af2f64;
    border-color: #af2f64;
    margin-right: 20px;
}

.details-buttons-2{
    width:170px;
    height: 50px;
    border-radius: 10px;
    color: white;
    border-color: #af2f64;
    
    margin-right: 20px;
    background-color: #af2f64;


}


.details-buttons-1:hover{
   
    width:150px;
    height: 50px;
    border-radius: 10px;
    color: white;
    border-color: red;
    margin-right: 20px;
    background-color:rgb(255, 194, 14);
}


.details-buttons-2:hover{
    width:170px;
    height: 50px;
    border-radius: 10px;
    color: white;
    border-color: rgb(196, 19, 69);
    
    margin-right: 20px;
    background-color: rgb(255, 194, 14);


}



@media screen and (max-width:1200px) {
    .details{

        flex-direction: column;
        align-items: center;
    }
    .details-photo-coach{
        left:0;
    }
    .details-photo{
        left:0
    }
    
.details-title{

    left:5%;
}
.details-text{
    left: 5%;
}
.details-liste-1{
    left: 10%;
    flex-direction: column;
}
.details-liste-2{
    left:10%;
    flex-direction: column;
}
.details-paragraphe{
    align-items: center;
}
.details-item{
    margin-bottom: 10px;
}

}

