.question{
width: 80%;
background-color: #af2f64 ;
height: 250px;
position: relative;
top: 25px;
left : 10%;
border-radius: 10px;
align-items: center;
display: flex;
flex-direction: column;





}
.question-items{
   
    position: absolute;
    align-items: center;
    
    top:20%;


}

.question h1{

    
    
    color:white;

}

.question p {

    color: white;
    font-size: 20px;
    margin-top: 20px;
    width: 60%;
    
}
.question button {
margin-top: 50px;
width: 12%;
height: 40px;
border-radius: 10px;
border-color: rgb(206, 19, 106);
color: rgb(206, 19, 106);;


}
.question button:hover {
    margin-top: 50px;
    width: 12%;
    height: 40px;
    border-radius: 10px;
    border-color: rgb(206, 19, 106);
    color: white;
    background-color: rgb(255, 194, 14);
    
    
    }





